
.workspace-boundary {
    height: 100%;
    border: 1px dotted rgba(0,0,0,0.5);
    border-radius: 7px;
    overflow: hidden;
    canvas {
        width: 100% !important;
        height: 100% !important;
    }
}