<div class="container">
  <mat-toolbar>
    <span>i4TWins</span>
    <button mat-icon-button color="primary" (click)="toggleMainDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-icon-button (click)="toggleLightMode()">
      <mat-icon>{{lightMode ? 'nightlight': 'light_mode'}}</mat-icon>
    </button>
    <button mat-button  color="accent">
      <mat-icon>person</mat-icon>
      John Doe
    </button>
  </mat-toolbar>

  <mat-drawer-container [hasBackdrop]="false">
    <mat-drawer #drawer [mode]="env.currentScreenSize ==='mobile' ? 'over': 'side'">
      <mat-selection-list #mainMenu [multiple]="false" class="main-drawer" color="primary">
        <mat-list-option *ngFor="let item of mainMenuItems" [value]="item.page" [disabled]="item.disabled"
          [selected]="item.selected" color="primary" (selectedChange)="goToPage(item,$event)">
          <div class="item">
            <mat-icon>{{item.icon}}</mat-icon>
            <div class="text">
              {{item.text}}
            </div>
          </div>
        </mat-list-option>
      </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content>
      <app-svg-editor *ngIf="selectedPage === 'svg_editor'"></app-svg-editor>
    </mat-drawer-content>
  </mat-drawer-container>
</div>